<% if Spree::ShippingMethod.self_delivery && @self_delivery_points.length > 0 %>
  <div class="clear"></div>
  <fieldset id="self_delivery">
    <p class="field">
      <%= check_box_tag :is_self_delivery, '', form.object.self_delivery_point.present? %>
      <%= label_tag :is_self_delivery, t(:self_delivery) %>
    </p>
    <div id="self_delivery_point" style="display:<%= form.object.self_delivery_point.present? ? 'block' : 'none' %>">
      <p class="field">
        <%= form.hidden_field :self_delivery_point_id, :value => '', :id => nil %>
        <%= form.collection_select :self_delivery_point_id, @self_delivery_points, :id, :full_address, {}, {:disabled => !form.object.self_delivery_point.present? } %>
      </p>

      <% initial = form.object.self_delivery_point.try(:id) || @self_delivery_points.first.id %>
      <% @self_delivery_points.each do |point| %>
        <div class="info" id="self_delivery_point_<%= point.id %>" style="display:<%= initial == point.id ? 'block' : 'none' %>">
          <p class="cost">
            <span class="label"><%= Spree::SelfDeliveryPoint.human_attribute_name(:cost) %>:</span>
            <%= point.cost.blank? || point.cost == 0 ? t(:self_delivery_point_free) : point.cost %>
          </p>
          <% if point.hours.present? %>
            <p class="hours">
              <span class="label"><%= Spree::SelfDeliveryPoint.human_attribute_name(:hours) %>:</span>
              <%= point.hours %>
            </p>
          <% end %>
          <% if point.description.present? %>
            <p class="description">
              <%= point.description.html_safe %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>
<div class="clear"></div>