<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t :new_self_delivery_point  %></h1>
<%= render 'shared/error_messages', :target => @self_delivery_point %>

<%= form_for [:admin, @self_delivery_point] do |f| %>
  <%= render 'form', :f => f %>
  <p data-hook="buttons">
    <%= render :partial => 'admin/shared/new_resource_links' %>
  </p>
<% end %>
